.counter {
  padding:5px;
  margin:2px;
  background-color: rgb(225, 252, 252);
}
.incbtn{
  border-radius: 50%;
  margin:2px;
  border:1px solid gray;
}
.decbtn{
  border-radius: 50%;
  margin: 2px;
  border:1px solid gray;
}

